body {
    background-color: rgb(255, 255, 255);
    color: #20b2aa;
}

table {
    background: red;
    color: #20b2aa;
}

td {
    background: navy;
}

.ArrayJSLR3 {
    background-image: url('arr.png');
    background-size: 180px;
    height: 80px;
    width: 170px;
}

.borderform {
    border-style: dashed;
    border-width: 3px;
    border-color: black;
    margin-left: 10px;
    border-radius: 2px;
}

.borderform2 {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin-right: 92%;
    border-radius: 10px;
}

#mytext {
    position: absolute;
    color: #008040;
    background-color: #dd6f00;
    background-size: 180px;
    height: 50px;
    width: 170px;
    text-align: center;
    font-size: 30px;
}


#graph {
    margin-top: 0px;
    position: absolute;
}

#paint {
    border: 2px dashed black;
    height: 430px;
    width: 400px;
    color: green;
}

#mybutton {
    height: 30px;
    width: 140px;
    margin-left: 120px;
}

.checked {
    font-weight: 500;
    color: #00caca;
    border: 2px solid #00ff40;
    border-radius: 5px;
    text-decoration: underline;
}
